# SPDX-FileCopyrightText: 2023 Aminda Suomalainen <suomalainen+git@mikaela.info>
#
# SPDX-License-Identifier: CC0-1.0

root = true

[*]
end_of_line = lf
# two whitespaces at end of line is a new line within paragraph
trim_trailing_whitespace = false
insert_final_newline = true
charset = utf-8
indent_style = space
# https://github.com/Mikaela/mikaela.github.io/issues/324
#indent_size = 2

[*.json]
indent_style = tab

[.gitmodules]
indent_style = tab
