root = true

[*]
# Future: https://github.com/editorconfig/editorconfig/issues/89
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8
# This project uses Jekyll which has YAML frontend matter everywhere and
# YAML requires spaces instead of tabs.
indent_style = space
indent_size = 2

[.{git*,mailmap}]
indent_style = tab
