[submodule "lfs-media"]
	path = lfs-media
	url = https://github.com/Mikaela/mikaela.github.io.git
	branch = lfs-media
	ignore= dirty
	shallow = true
[submodule "or"]
	path = or
	url = https://github.com/Mikaela/ormirror.git
	branch = master
	ignore= dirty
	shallow = true
[submodule "ir"]
	path = ir
	url = https://github.com/Mikaela/i2pmirror.git
	branch = master
	ignore= dirty
	shallow = true
