image: alpine:latest

variables:
  JEKYLL_ENV: production
  LC_ALL: en_US.utf8
  TERM: dumb

cache:
  paths:
    - ${PRE_COMMIT_HOME}
    - ${CI_PROJECT_DIR}/bundle

before_script:
  - apk install --no-cache ruby ruby-bundler
  - bundle install

test:
  stage: test
  script:
    - bundle exec jekyll build -d test
  artifacts:
    paths:
      - test
  rules:
    - if: $CI_COMMIT_REF_NAME != $CI_DEFAULT_BRANCH

pages:
  stage: deploy
  script:
    - bundle exec jekyll build -d public
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH

gitlab-ci-pre-commit:
  stage: build
  before_script:
    - apk add --no-cache python3 python3-dev py3-pip py3-wheel git gcc musl-dev bash nodejs-current npm
    - pip install pre-commit
  script:
    - pre-commit run --all-files --show-diff-on-failure
  variables:
    PRE_COMMIT_HOME: ${CI_PROJECT_DIR}/.cache/pre-commit
