{
  "insertPragma": false,
  "proseWrap": "always",
  "singleAttributePerLine": true,
  "plugins": ["@prettier/plugin-xml", "prettier-plugin-sh"],
  "overrides": [{ "files": ".prettierrc", "options": { "parser": "json" } }]
}
