body {
    color:  lightblue;
    background-color: black;
    font-family: "DejaVu Sans", Ubuntu, Arial, Arial, Helvetica, sans-serif;
    text-align: justify
}

pre {
    color:  white;
    background-color: black;
    font-family: Courier, "Courier New";
}

a:link { 
    color: red
}

a:visited {
    color: pink
}
