h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000080;
    background-color: #FFFFFF;
    text-align: center
}

body {
    color: #FFFFFF;
    background-color: #000080;
    font-family: "DejaVu Sans", Ubuntu, Arial, Arial, Helvetica, sans-serif;
    text-align: justify-center
}

pre {
    color: #000000;
    background-color: #C3C3C3;
    font-family: Courier, "Courier New";
}

a:link { 
    color: #00FF00
}

a:visited {
    color: #C0FFC0
}

img {
    display: inherit;
    margin-left: auto;
    margin-right: auto
}
