<detect-missing-adblocker>
<noscript><hr></noscript>
<noscript><p class="centered" lang="en"><strong><em>Dear JavaScript blocker, please accept my apologies for needlessly showing you this:</em></strong></p></noscript>
<span slot="title" class="centered" lang="en"><p>Dear reader, you may be missing a content blocker! 🙀</p></span>
<span slot="message" class="centered" lang="en">
<p>Please consider installing one to protect yourself, and your close ones, from <a href="https://www.wired.com/story/why-dont-we-just-ban-targeted-advertising/">manipulation</a> and <a href="https://en.m.wikipedia.org/wiki/Malvertising">targeted malvertising</a>!</p>
<p>Personally I love <strong>both</strong> <a href="https://privacybadger.org">Privacy Badger</a> <strong>and</strong> <a href="https://github.com/gorhill/uBlock/blob/master/README.md#ublock-origin-ubo">uBlock Origin</a>
(<strong>with</strong> <a href="https://www.eff.org/files/effdntlist.txt">EFF DNT Policy
Allowlist</a>) <strong>together</strong>, while <a href="https://adnauseam.io">AdNauseam</a>
<em><a href="https://github.com/dhowe/AdNauseam/wiki/FAQ#can-i-use-adnauseam-with-my-current-adblocker">alone</em> would be more direct protest tool to oppose how the internet is nowadays.</p>
<p>Android users may be better served by <a href="https://f-droid.org/packages/com.celzero.bravedns">Rethink</a> while for iOS there is <a href="https://adguard.com/adguard-ios/overview.html">AdGuard</a>.</p>
<p><a href="https://en.m.wikipedia.org/wiki/Targeted_advertising#Disadvantages">Learn more about targeted advertising!</a>
<p><small>PS. I am sorry if you are already protected and this silly <a href="https://easylist.to/">EasyList</a> targeting(?) script doesn't detect that, thank you for taking the steps towards a safer internet! 💜</small></p>
<noscript><hr></noscript>
</span>
</detect-missing-adblocker>
