<detect-missing-adblocker>
<noscript><strong lang="en"><em>Dear JavaScript blocker, please accept my apologies for needlessly showing you this:</em></strong></noscript>
<span slot="title" lang="en">Dear reader, you may be missing a content blocker! 🙀</span>
<span slot="message" lang="en">
Please consider installing one to protect yourself, and your close ones, from <a href="https://www.wired.com/story/why-dont-we-just-ban-targeted-advertising/">manipulation</a> and <a href="https://en.m.wikipedia.org/wiki/Malvertising">targeted malvertising</a>!
Personally I love <strong>both</strong> <a href="https://privacybadger.org">Privacy Badger</a> <strong>and</strong> <a href="https://github.com/gorhill/uBlock/blob/master/README.md#ublock-origin-ubo">uBlock Origin</a>
(<strong>with</strong> <a href="https://www.eff.org/files/effdntlist.txt">EFF DNT Policy
Allowlist</a>) <strong>together</strong>, while <a href="https://adnauseam.io">AdNauseam</a>
<em><a
                    href="https://github.com/dhowe/AdNauseam/wiki/FAQ#can-i-use-adnauseam-with-my-current-adblocker">alone</em></a> would be more direct protest tool to oppose how the internet is nowadays.
Android users may be better served by <a href="https://f-droid.org/packages/com.celzero.bravedns">Rethink</a> while for iOS there is <a href="https://adguard.com/adguard-ios/overview.html">AdGuard</a>.
<a href="https://en.m.wikipedia.org/wiki/Targeted_advertising#Disadvantages">Learn more about targeted advertising!</a>
<small>PS. I am sorry if you are already protected and this silly <a href="https://easylist.to/">EasyList</a> targeting(?) script doesn't detect that, thank you for taking the steps towards a safer internet! 💜</small>
</span>
</detect-missing-adblocker>
