<!--
<detect-missing-adblocker>
  <span slot="title">Dear reader, you may be missing a content blocker! 🙀</span>
  <span slot="message">
  Please consider installing one to protect yourself, and your close ones,
  from manipulation and <a href="https://en.m.wikipedia.org/wiki/Malvertising">targeted malvertising</a>.
  Personally I love <a href="https://privacybadger.org">Privacy Badger</a> and
  <a href="https://github.com/gorhill/uBlock/blob/master/README.md">uBlock Origin</a>
  with
  (<a href="https://www.eff.org/files/effdntlist.txt">EFF DNT Policy Allowlist</a>)
  although Android users may be better served by <a href="https://f-droid.org/packages/com.celzero.bravedns">Rethink</a> while
  for iOS there is <a href="https://adguard.com/adguard-ios/overview.html">AdGuard</a>.
  <p><a href="https://en.m.wikipedia.org/wiki/Targeted_advertising#Disadvantages">Learn more!</a>
  </span>
</detect-missing-adblocker>
-->
