<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{{ site.url }}{{ site.baseurl }}/avatar.jpeg">
  <title>{% if page.title %}{{ page.title }} ~~ {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | nstrip_html | strip_newlines }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/blog/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }} - in English" href="{{ "/blog/feed.en.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }} - Suomeksi" href="{{ "/blog/feed.fi.xml" | prepend: site.baseurl | prepend: site.url }}" />
 <!-- Help http://validator-search.verisignlabs.com/ -->
 <link rel="prefetch" href="https://prefetch.validatorsearch.verisignlabs.com" />
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
 <!-- Twitter card -->
 <meta name="twitter:card" content="summary" />
 <meta name="twitter:site" content="@Inaneierase" />
 <meta name="twitter:title" content="{% if page.title %}{{ page.title }} ~~ {{ site.title }}{% else %}{{ site.title }}{% endif %}" />
 <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | nstrip_html | strip_newlines }}{% endif %}" />
 <meta name="twitter:image" content="https://gravatar.com/avatar/2bd4ed22d7f59d1a83f5a4253d74f814.jpg"/>
 <!-- Facebook -->
 <meta property="fb:app_id" content="1550553165222890" />
 <meta name="og:title" content="{% if page.title %}{{ page.title }} ~~ {{ site.title }}{% else %}{{ site.title }}{% endif %}" />
 <meta name="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | nstrip_html | strip_newlines }}{% endif %}" />
 <meta name="og:site_name" content="MikaeladDotInfo" />
 <meta name="og:image" content="https://gravatar.com/avatar/2bd4ed22d7f59d1a83f5a4253d74f814.jpg"/>
 <meta name="flattr:id" content="7j1ne6">
</head>
