---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Our variables
$base-font-family: "Liberation Serif", "Tinos", "Times New Roman", serif;
$monospace-font-family: "Liberation Mono", "Cousine", "Courier New", monospace;
//$base-font-family: "Liberation Sans", "Arimo", "Arial", sans-serif;

@import "{{ site.theme }}";

// As high in css as can be edited. If I understand correctly, user
// preference will take priority over this, but if the user hasn't expressed
// it, this will make dark default.
:root {
  color-scheme: dark light !important;
}

// Revert to defaults
* {
  color: revert !important;
  background-color: revert !important;
  overflow-wrap: break-word !important;
}

// Fitting to text and monospace preferred
code {
  font-size: 0.8em !important;
}
code,
pre {
  font-family: $monospace-font-family !important;
}

// Overrides for dark themes
@media (prefers-color-scheme: dark) {
  * {
    color: #ffb700 !important;
    border-color: #ffb700 !important;
    background-color: #000000 !important;
  }

  // Adblocker detection)
  .ftf-dma-note {
    color-scheme: only dark !important;
    color: #ffb700 !important;
    border-color: #ffb700 !important;
    background-color: #000000 !important;
  }

  .site-nav {
    color-scheme: only dark !important;
    color: #ffb700 !important;
    background-color: #000000 !important;
    color: #ffb700 !important;
  }

  a {
    color: revert !important;
  }
}

// Overrides for light themes
@media (prefers-color-scheme: light) {
  // Adblocker detection
  .ftf-dma-note {
    color-scheme: only light !important;
    color: #000000 !important;
    background-color: #ffffff !important;
  }
  .site-nav {
    color-scheme: only light !important;
    color: #000000 !important;
    background-color: #ffffff !important;
    border: 1px solid #000000 !important;
  }
}

// This is used in the index
#avatar {
  margin-left: auto;
  margin-right: auto;
  width: 6em;
  border: 1px solid;
  //black;
}

// This is the short bio in the index and all my profiles
#bio {
  text-align: center;
  //font-weight: bold;
  font-style: italic;
}

// At least used in the index
.centered {
  list-style-type: none;
  margin: 0 auto;
  text-align: center;
}

// IRC logs should be formatted with this
.irclog {
  white-space: pre-wrap;
  font-size: 15px;
  border: 1px solid;
  // $grey-color-light;
  border-radius: 3px;
  background-color: revert;
  //#eef;
}

// Tables belong to CSS, make the HTML5 validator happy
table,
td,
th {
  border: 1px solid;
  //black;
}

// Trying to make images look a little better
img {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  //black;
}

.monospaced {
  font-family: $monospace-font-family;
  font-size: 0.8em;
  //overflow-wrap: break-word;
}
