---
layout: page
title: Blog
navigation: true
permalink: /blog/
excerpt: "Blog index, posts in English and posts in Finnish — Blogin etusivu, postaukset englanniksi ja postaukset suomeksi."
lang: en
robots: noai
---

<ul style="list-style-type: none">
<li>Posts</li>
<li><a lang="en" href="#in-english">In English</a></li>
<li><a lang="fi" href="#suomeksi">suomeksi</a></li>
</ul>

<div lang="en">

<h2 id="in-english">In English</h2>

<ul style="list-style-type: none">
{% for post in site.categories.english %}
<li><strong><a href="{{ post.url }}">{{ post.title }}</a></strong></li>
<ul style="list-style-type: none"><li><em>{{ post.excerpt | strip_html }}</li></ul>
{% endfor %}
</ul>

</div><div lang="fi">

<h2 id="suomeksi">suomeksi</h2>

<ul style="list-style-type: none">
{% for post in site.categories.finnish %}
<li><strong><a href="{{ post.url }}">{{ post.title }}</a></strong></li>
<ul style="list-style-type: none"><li><em>{{ post.excerpt | strip_html }}</li></ul>
{% endfor %}
</div>
