---
layout: page
title: Blog
navigation: true
permalink: /blog/
excerpt: "Blog index, posts in English and posts in Finnish — Blogin etusivu, postaukset englanniksi ja postaukset suomeksi."
lang: en
robots: noai
---

<p>
  Posts <a lang="en" href="#in-english">in English here</a> &amp;
  <a lang="fi" href="#suomeksi">suomeksi täällä</a>.
</p>
<hr />
<div lang="en">
  <h2 id="in-english">In English</h2>

  {% for post in site.categories.english %}
  <p>
    <em>{{ post.date | date: "%F" }}:</em>
    <strong><a href="{{ post.url }}">{{ post.title }}</a></strong>
  </p>
  {{ post.excerpt | markdownify }} {% endfor %}
</div>
<hr />
<div lang="fi">
  <h2 id="suomeksi">suomeksi</h2>
  {% for post in site.categories.finnish %}
  <p>
    <em>{{ post.date | date: "%F" }}:</em>
    <strong><a href="{{ post.url }}">{{ post.title }}</a></strong>
  </p>
  {{ post.excerpt | markdownify }} {% endfor %}
</div>
