---
layout: default
title: Notes
excerpt:
  You have discovered my notes listing, where I ramble about random subjects for
  future me, so I don't have to rediscover the things again. I tend to access
  these with direct link, but for your benefit, they are also listed here. It is
  not without realm of possibility for you to be reading this page already.
permalink: /n/index.html
redirect_from: /n/n.html
navigation: true
lang: en
sitemap: true
robots: noai
---

<h1>Notes</h1>

<p>
  <em>{{ page.excerpt }}</em>
</p>

<p>
  <small
    ><em
      >I won't comment on whether there are secret messy unlisted notes lying
      around.</em
    ></small
  >
</p>

<!-- Make a variable containing pages under n/ -->
<!-- For loop to go through the contents of the pages -->
<!-- If the page is on the sitemap, I want to publish it here -->
{% assign notes = site.pages | where_exp: "page", "page.path contains 'n/'" %}
{% for note in notes %} {% if note.sitemap == true %}
<h2><a href="{{ note.url }}">{{note.title}}</a></h2>
<p>
  <span class="monospaced">{{ note.url | split: ".html" }}</span> - {{
  note.excerpt | strip_html }}
</p>
{% endif %} {% endfor %}
